.yaxis-tick {
  margin-top: -5px;
  white-space: nowrap;
}

.yaxis-tick-0 {
  margin-bottom: -5px;
}

.yaxis-label {
  white-space: nowrap;
  line-height: 2;
}

.recharts-xAxis {
  font-weight: 700;
  font-size: 10px;
}
