.tabs {
    background-color: white;
    display: flex;
    opacity: 1;
    border-radius: 8px;

    *:hover {
        &:not(.active) {
            color: white;
            background-color: $primary;
            opacity: 0.6;
            border-radius: 8px;
        }
    }
}

.tab {
    cursor: pointer;
    width: auto;
    margin: 0 2px 0 2px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: $primary;
    color: white;
    border-radius: 8px;
}

.tab-content {
    padding-top: 8px
}