@use 'sass:map';
@use 'sass:selector';

%table-base {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
}

%cell-base {
  padding: 0.375rem 1rem;
  text-align: left;
  outline: none;
  border: none;
  font-size: $font-size-xl;
  line-height: 100%;
  font-weight: 400;
  overflow: hidden;
  position: static;
  vertical-align: inherit;

  @extend %bordered-cell-base;
}

%cell-link {
  text-decoration: underline;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}

%cell-content-base {
  display: flex;
  align-items: center;
  width: 100%;
}

%cell-title-base {
  font-size: inherit;
  line-height: inherit;
}

%cell-subtitle-base {
  font-size: $font-size-lg;
  line-height: 100%;
  color: map.get($generated-colors, 'neutral-50');
}

%row-base {
  height: 38px;
  overflow: hidden;
  vertical-align: middle;
  outline: 1px solid transparent;
  border: 1px solid transparent;
}

%row-hovered-base {
  $border-color: map.get($generated-colors, 'black-50');

  outline: 1px solid $border-color !important;
  border: 1px solid $border-color !important;
}

%bordered-cell-base {
  border-bottom: solid 1px map.get($generated-colors, 'black');
}

%head-cell-base {
  @extend %cell-base;
  color: white;
  background-color: map.get($generated-colors, 'primary');
  border-bottom: transparent;
  font-weight: 600;
}

%cell-icon-base {
  color: map.get($generated-colors, 'neutral-50');
  height: 1.5rem;
  width: 1.5rem;
  font-size: 1.5rem;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@include class-with-prefix(table) {
  $table-root-unnested: &;
  $table-row-root-unnested: #{$table-root-unnested}__row;
  $table-cell-root-unnested: #{$table-root-unnested}__cell;
  $table-cell-content-root-unnested: #{$table-cell-root-unnested}__content;
  $table-cell-link-root: #{$table-cell-root-unnested}__link;
  $table-head-root-unnested: #{$table-root-unnested}__head;
  $table-body-root-unnested: #{$table-root-unnested}__body;
  $table-cell-title-root-unnested: #{$table-cell-root-unnested}__title;
  $table-cell-subtitle-root-unnested: #{$table-cell-root-unnested}__subtitle;
  $table-cell-icon-root-unnested: #{$table-cell-root-unnested}__icon;

  @extend %table-base;

  &#{&}--fixed {
    // .table.table--fixed
    table-layout: fixed;
  }

  #{$table-head-root-unnested},
  #{$table-body-root-unnested} {
    #{$table-row-root-unnested} {
      // .table  .table__head, .table .table__body

      @extend %row-base;
      #{$table-cell-root-unnested} {
        // .table  .table__head .table__row,
        // .table .table__body .table__row

        @at-root #{selector.unify(&,#{$table-cell-root-unnested}--ellipsis)} {
          // .table  .table__head .table__row .table__cell.table__cell--ellipsis,
          // .table .table__body .table__row .table__cell.table__cell--ellipsis

          white-space: nowrap;
          text-overflow: ellipsis;
        }

        @at-root #{selector.unify(&,#{$table-cell-root-unnested}--checkbox)} {
          // .table  .table__head .table__row .table__cell.table__cell--checkbox,
          // .table .table__body .table__row .table__cell.table__cell--checkbox

          padding-right: 0;

          + #{$table-cell-root-unnested} {
            padding-left: 0;
          }
        }

        #{$table-cell-link-root} {
          @extend %cell-link;
        }

        #{$table-cell-content-root-unnested} {
          @extend %cell-content-base;
        }

        #{$table-cell-title-root-unnested} {
          @extend %cell-title-base;
          & + #{$table-cell-subtitle-root-unnested} {
            margin-top: 0.5rem;
          }
        }
        #{$table-cell-subtitle-root-unnested} {
          @extend %cell-subtitle-base;
        }

        #{$table-cell-icon-root-unnested} {
          @extend %cell-icon-base;
        }
      }
    }
  }

  #{$table-head-root-unnested} {
    #{$table-row-root-unnested} {
      #{$table-cell-root-unnested} {
        @extend %head-cell-base;

        @at-root #{selector.unify(&,#{$table-cell-root-unnested}--checkbox)} {
          width: 4.25rem;
        }
      }
    }
  }

  @at-root #{selector.unify(&,#{$table-root-unnested}--hoverable)} {
    // .table.table--hoverable
    #{$table-body-root-unnested} {
      // .table.table--hoverable .table__body

      #{$table-row-root-unnested} {
        // .table.table--hoverable .table__body .table__row

        @at-root #{selector.unify(&,#{$table-row-root-unnested}--hover)},
          #{selector.unify(&,':hover')} {
          // .table.table--hoverable .table__body .table__row.table__row--hover,
          // .table.table--hoverable .table__body .table__row:hover

          @extend %row-hovered-base;
          #{$table-cell-root-unnested} {
            background-color: map.get($generated-colors, 'black-90');
          }
        }
      }
    }
  }

  #{$table-body-root-unnested} {
    #{$table-row-root-unnested} {
      #{$table-cell-root-unnested} {
        @extend %cell-base;
      }

      &:last-child {
        #{$table-cell-root-unnested} {
          border-bottom: none;
        }
      }
    }
  }

  @include class-with-prefix('btn') {
    @include generate-btn-variant(
      $variant-name: 'table-action',
      $base-color: map.get($generated-colors, 'black'),
      $focus-border-color: map.get($generated-colors, 'neutral-90'),
      $transparent-disabled-background-color: transparent,
      $transparent-disabled-color: transparent,
      $transparent-hover-background-color:
        map.get($generated-colors, 'neutral-95'),
      $transparent-hover-color: map.get($generated-colors, 'neutral-40'),
      $transparent-active-background-color:
        map.get($generated-colors, 'neutral-30'),
      $filled-disabled-background-color:
        map.get($generated-colors, 'neutral-90'),
      $filled-hover-background-color: map.get($generated-colors, 'neutral-40'),
      $filled-active-background-color: map.get($generated-colors, 'neutral-30'),
      $outlined-disabled-background-color: transparent,
      $outlined-disabled-border-color: map.get($generated-colors, 'neutral-80'),
      $outlined-disabled-color: map.get($generated-colors, 'neutral-80'),
      $outlined-hover-background: map.get($generated-colors, 'neutral-95'),
      $outlined-hover-border-color: map.get($generated-colors, 'neutral-40'),
      $outlined-active-background-color:
        map.get($generated-colors, 'neutral-30')
    );
  }
}

.pagination-container {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  position: absolute;
  padding: 1rem 0;
  justify-content: center;
}

.pagination-number,
.pagination-button {
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.2rem;
}

.last,
.first {
  width: auto;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.active {
  color: #fff;
  background: $primary;
}
